@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
}
.Navbar {
  margin-top: -80px;
  margin-left: -180px;
}
.Navbar li {
  list-style-type: none;
  float: left;
  display: block;
  text-decoration: none;
  margin-right: 70px;
  font-weight: 300;
}
h1 {
  font-size: 90px;
  font-family: "Over the Rainbow";
  line-height: 110px;
  font-weight: 300;
  margin: 150px 900px 60px 70px;
  padding-top: 150px;
}
.Main p {
  margin: 50px 0px 0px 105px;
  line-height: 25px;
}
a {
  color: black;
  text-decoration: none;
  margin: 20px 0px 0px 85px;
}
a:hover {
  color: #8a4c5b;
  text-decoration: none;
}
.ShopButton {
  margin-left: 115px;
}
.btn-primary {
  display: inline-block;
  color: white;
  background-color: #8a4c5b;
  padding: 20px 15px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #8a4c5b;
  margin: 60px 0px 0px 20px;
  font-family: "IBM Plex Mono", monospace;
}
.btn-primary:hover {
  color: #8a4c5b;
  background-color: white;
  border-color: #8a4c5b;
}
.MainImg img {
  width: 855px;
  height: 1150px;
  margin: -900px 0px 0px 625px;
}
