input {
  font-size: 13px;
}
form {
  margin: 100px 500px 200px 200px;
  font-family: "IBM Plex Mono", monospace;
}
.form-control {
  font-size: 13px;
}
datalist {
  font-size: 13px;
  font-family: "IBM Plex Mono", monospace;
}
form .btn-primary {
  margin-left: 330px;
}
